/*
MAIN STYLESHEET

Font color: #2b2b2b
Color 1: #515151;
*/

/* Fonts */

@font-face {
  font-family: brandon-grotesque-bold;
  src: url("../fonts/Brandon_blk.otf") format("opentype");
}

@font-face {
  font-family: brandon-grotesque-regular;
  src: url("../fonts/Brandon_reg.otf") format("opentype");
}

/* Global Styles */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/background.png");
  background-position: 0 90px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#cost {
  font-family: brandon-grotesque-bold;
  text-transform: uppercase;
  color: #2ecc71;
}

/* Form */

#contact .container form {
  text-align: left;
}

#contact label {
  margin: 15px;
  font-family: brandon-grotesque-bold;
  font-size: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#contact input, textarea {
  min-width: 90%;
  max-width: 90%;
  margin: 15px;
  padding: 20px;
  font-family: brandon-grotesque-regular;
  font-size: 20px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  max-height: 500px;
}

#contact input:focus, textarea:focus {
  outline: none;
}

#contact input::placeholder, textarea::placeholder {
  font-family: brandon-grotesque-regular;
  font-size: 20px;
  color: #7f8c8d;
}

#contact #submit {
  margin: 15px;
  font-family: brandon-grotesque-bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 18px 40px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.15s;
  webkit-transition-duration: 0.10s;
  letter-spacing: 2px;
}

#contact #submit:hover {
  color: #2b2b2b;
  background-color: white;
}

/* Cards */

.card {
  color: white;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.card .container {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-family: brandon-grotesque-bold;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}

.card h3 {
  font-family: brandon-grotesque-regular;
  font-size: 25px;
}

.card p {
  font-family: brandon-grotesque-regular;
  font-size: 25px;
}

/* Buttons */

.button {
  font-family: brandon-grotesque-bold;
  font-size: 16px;
  text-transform: uppercase;
  padding: 18px 40px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#learn-more {
  margin-right: 25px;
}

#button-1 {
  background-color: white;
  border: 3px solid white;
  color: #2b2b2b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.15s;
  webkit-transition-duration: 0.10s;
  letter-spacing: 2px;
}

#button-1:hover {
  background-color: #E5E7E9;
  border: 3px solid #E5E7E9;
}

#button-2 {
  background-color: transparent;
  border: 3px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.15s;
  webkit-transition-duration: 0.10s;
  letter-spacing: 2px;
}

#button-2:hover {
  color: #2b2b2b;
  background-color: white;
}

/* Navigation Bar */

.desktop-nav {
  background: white;
  font-family: brandon-grotesque-bold;
  color: #2b2b2b;
  padding-top: 30px;
  min-height: 80px;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  position: fixed;
}

.desktop-nav #branding {
  float: left;
  letter-spacing: 0;
}

.desktop-nav #branding img {
  width: 40px;
  height: 40px;
  position: absolute;
  display: inline;
  float: left;
  margin-top: 4px;
}

.desktop-nav #branding h1 {
  text-transform: uppercase;
  margin: 0 0 0 60px;
}

.desktop-nav a {
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  transition: color 0.10s;
  webkit-transition: color 0.10s;
}

.desktop-nav a:hover:not(#branding-link) {
  color: #7f8c8d;
}

.desktop-nav li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

.desktop-nav nav {
  float: right;
  margin-top: 12px;
}

/* Mobile Nav */

.mobile-nav {
  background: white;
  font-family: brandon-grotesque-bold;
  color: #2b2b2b;
  padding-top: 30px;
  min-height: 80px;
  letter-spacing: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
  position: fixed;
}

.mobile-nav #branding {
  float: left;
  letter-spacing: 0;
}

.mobile-nav #branding img {
  width: 40px;
  height: 40px;
  position: absolute;
  display: inline;
  float: left;
  margin-top: 4px;
}

.mobile-nav #branding h1 {
  text-transform: uppercase;
  margin: 0 0 0 60px;
}

.mobile-nav #dropdown a, .branding-link {
  color: #2b2b2b;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  transition: color 0.10s;
  webkit-transition: color 0.10s;
}

.mobile-nav #dropdown a:hover:not(.branding-link) {
  color: #7f8c8d;
}

.mobile-nav #dropdown li {
  padding: 20px 0 20px 0;
}

/* Mobile Menu */

.mobile-nav #dropdown {
  display: none;
}

.mobile-nav #dropdown nav {
  margin-top: 30px;
  text-align: center;
}

.mobile-nav #toggle-menu {
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.mobile-nav #toggle-menu div {
  width: 35px;
  height: 4px;
  background-color: #2b2b2b;
  margin: 6px 0;
  transition-duration: 0.10s;
}

/* Banner */

.banner {
  color: white;
  line-height: 1;
  text-align: center;
  min-height: 400px;
}

.banner h1 {
  font-family: brandon-grotesque-bold;
  text-transform: uppercase;
  font-size: 70px;
  margin: 280px 0 0 0;
  letter-spacing: 10px;
}

.banner p {
  font-family: brandon-grotesque-regular;
  font-size: 25px;
  font-style: italic;
}

.banner .button {
  margin-left: 8px;
  margin-right: 8px;
}

#main-banner {
  margin-bottom: 200px;
}

/* Footer */

footer {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin-top: 70px;
  background-color: #0f1418;
  border-top: 3px solid #5DADE2;
}

footer h3 {
  font-family: brandon-grotesque-bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

footer p {
  font-family: brandon-grotesque-regular;
}

footer nav li {
  display: inline;
  margin: 0 10px 0 10px;
  font-family: brandon-grotesque-regular;
}

footer nav a {
  text-decoration: none;
  color: white;
  border-bottom: 3px solid transparent;
  transition-duration: 0.10s;
  webkit-transition-duration: 0.10s;
}

footer nav a:hover {
  border-bottom: 3px solid white;
}
