/*
Stylesheet for all navigation elements
*/

@font-face {
  font-family: Montserrat-Bold;
  src: url("../res/fonts/Montserrat-Bold.otf") format("opentype");
}

body {
  background-image: url("../res/bg-grayscale.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

/*
Navigation Bar Styles
*/

.header-nav::after {
  content: "";
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 50px 0;
}

.header-nav img {
  width: 30%;
  height: 30%;
}


.header-nav nav {
  float: right;
  font-family: Montserrat-Bold;
  letter-spacing: 2px;
}

.header-nav nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-nav nav li {
  display: inline-block;
  margin-left: 35px;
  padding-top: 85px;
  font-size: 20px;

  position: relative;
}

.header-nav nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  transition-duration: 0.15s;
}

.header-nav nav a:hover {
  border-bottom: 5px solid #2871DB;
}
