/*
Stylesheet for text styles
*/

@font-face {
  font-family: Montserrat-Bold;
  src: url("../res/fonts/Montserrat-Bold.otf") format("opentype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("../res/fonts/Montserrat-Regular.otf") format("opentype");
}

h1 {
  font-family: Montserrat-Bold;
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
